service fingerprint-inscreen-1-0 /system/bin/hw/xperience.biometrics.fingerprint.inscreen@1.0-service.raphael
    interface vendor.xperience.biometrics.fingerprint.inscreen@1.0::IFingerprintInscreen default
    class hal
    user system
    group system
    shutdown critical
